<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListApp">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Custom Service</title>
  </head>
  <body>
    <h1>Custom Service</h1>
    <div ng-controller="ShoppingListAddController as itemAdder">
      <input
        type="text"
        ng-model="itemAdder.itemName"
        placeholder="item name"
      />

      <input
        type="text"
        ng-model="itemAdder.itemQuantity"
        placeholder="quantity"
      />
      <button ng-click="itemAdder.addItem();">
        Add Item To Shopping List
      </button>
    </div>
    <div ng-controller="ShoppingListShowController as showList">
      <ol>
        <li ng-repeat="item in showList.items">
          {{item.quantity}} of {{item.name}}
          <button ng-click="showList.removeItem($index);">
            Remove Item
          </button>
        </li>
      </ol>
    </div>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="./app.js"></script>
  </body>
</html>
