<!DOCTYPE html>
<html lang="en" ng-app="expressionExample">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Context</title>
  </head>
  <body>
    <div ng-controller="ExampleController">
      Name: <input ng-model="name" text="text" />
      <button ng-click="greet()">Greet</button>
    </div>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
